{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
<title>Admin Customer</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a type="button" class="btn btn-block btn-success" href="{{ url_for('logout') }}">Logout</a>
    </div>
</nav>

<div class="container text-center m-5">
    <div class="row m-4">
        <h1>Admin View Customer</h1>
    </div>
    <form action="/adminCustomer" method="POST"> 
        <div class="row m-3 g-3 d-flex align-items-center">
            <div class="col-md-3"></div>
            <div class="col-sm-2">
                Customer
            </div>
            <label for="fname" class="col-sm-1 col-form-label visually-hidden">First Name</label>
            <div class="col-sm-2">
                <input type="text" id="fname" name="fname" class="form-control" placeholder="First">
            </div>
            <label for="lname" class="col-sm-1 col-form-label visually-hidden">Last Name</label>
            <div class="col-sm-2">
                <input type="text" id="lname" name="lname" class="form-control" placeholder="Last">
            </div>
        </div>
        <table class="table table-primary table-striped ms-5 mt-4">
            <thead>
                <tr>
                    <th scope="col">
                        Username 
                        <button class="btn" onclick="sortUsername()" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </button>
                    </th>
                    <th scope="col">
                        Name
                        <button class="btn" onclick="sortName()" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </button>
                    </th>
                    <th scope="col">
                        Address
                        <button class="btn" type="button" disabled>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                            </svg>
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody name="tableBody">
                {% for customer in customers %}
                <tr>
                    <td>{{ customer[0] }}</td>
                    <td>{{ customer[1] }}</td>
                    <td>{{ customer[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="m-5 d-flex justify-content-evenly">
            <a href="{{ url_for('admin') }}" type="button" class="btn btn-lg btn-secondary">Back</a>
            <a href="{{ url_for('admin_view_customer') }}" type="button"  class="btn btn-lg btn-primary">Reset</a>
            <button type="submit" class="btn btn-lg btn-primary">Filter</button>
        </div>
    </form>
</div>

<script>
    var state = [0, 0]
    var ascUsername = eval(JSON.parse('{{ ascUsername | tojson }}'))
    var descUsername = eval(JSON.parse('{{ descUsername | tojson }}'))
    var ascFullname = eval(JSON.parse('{{ ascFullname | tojson }}'))
    var descFullname = eval(JSON.parse('{{ descFullname | tojson }}'))
    
    function sortUsername() {
        clearTable();
        var orderedUsername;
        if (state[0]==0) {
            orderedUsername = ascUsername;
            state[0] = 1;
        } else {
            orderedUsername = descUsername;
            state[0] = 0
        }
        let tableBody = document.querySelector('tbody[name="tableBody"]');
        for (var i=0; i<orderedUsername.length; i++) {
            tableBody.appendChild(createRow(orderedUsername[i]))
        }
    }
    function sortName() {
        clearTable();
        var orderedName;
        if (state[1]==0) {
            orderedName = ascFullname;
            state[1] = 1;
        } else {
            orderedName = descFullname;
            state[1] = 0
        }
        let tableBody = document.querySelector('tbody[name="tableBody"]');
        for (var i=0; i<orderedName.length; i++) {
            tableBody.appendChild(createRow(orderedName[i]))
        }
    }
    function clearTable() {
        let tableBody = document.querySelector('tbody[name="tableBody"]')
        while (tableBody.firstChild) {
            tableBody.removeChild(tableBody.firstChild);
        }
    }
    function createRow(customer) {
        let row = document.createElement('tr');
        let cell1 = createCell(customer[0]);
        let cell2 = createCell(customer[1]);
        let cell3 = createCell(customer[2]);
        row.appendChild(cell1);
        row.appendChild(cell2);
        row.appendChild(cell3);
        return row;
    }
    function createCell(data) {
        let cell = document.createElement('td');
        cell.textContent = data;
        return cell;
    }
</script>
{% endblock %}