{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/manager.css" )}}'>
<title>Manager Create Chain Item</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a type="button" class="btn btn-block btn-success" href="{{ url_for('logout') }}">Logout</a>
    </div>
</nav>
<div class="container m-3 text-center">
    <div class='row m-4'>
        <h1>Chain Manager Create Chain Item</h1>
    </div>
    {% if message %}
    <div class="alert alert-danger text-center mb-5" role="alert">
      {{ message }}
    </div>
    {% endif %}
    <form action="/managerItem" method="POST">
        <div class="row m-3">
            <div class="col-sm-2"></div>
            <label for="chain" class="col-sm-3 col-form-label">Chain Name</label>
            <div class="col-sm-5">
                <input name="chain" id="chain" type="text" disabled required value="{{ chain }}" class="form-control">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row m-3 g-3">
            <div class="col-md-2"></div>
            <label for="item" class="col-sm-3 col-form-label">Item</label>
            <div class="col-sm-5">
                <select id="item" name="item" class="form-select" required>
                    <option value="empty">Please Select</option>
                    {% for item in items %}
                    <option value="{{ item[0] }}">{{ item[0] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row m-3">
            <div class="col-sm-2"></div>
            <label for="quanity" class="col-sm-3 col-form-label">Quantity</label>
            <div class="col-sm-5">
                <input name="quantity" id="quanity" type="numeric" required 
                    class="form-control" pattern=".{1,}">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row m-3">
            <div class="col-sm-2"></div>
            <label for="limit" class="col-sm-3 col-form-label">Limit Per Order</label>
            <div class="col-sm-5">
                <input name="limit" id="limit" type="numeric" required 
                    class="form-control" pattern=".{1,}">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row m-3">
            <div class="col-sm-2"></div>
            <label for="plu" class="col-sm-3 col-form-label">PLU Number</label>
            <div class="col-sm-5">
                <input name="plu" id="plu" type="numeric" required value="{{ plu }}"
                    class="form-control" disabled>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row m-3">
            <div class="col-sm-2"></div>
            <label for="price" class="col-sm-3 col-form-label">Price per Unit ($)</label>
            <div class="col-sm-5">
                <input name="price" id="price" type="numeric" required
                    class="form-control">
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="m-5 d-flex justify-content-evenly">
            <a href="{{ url_for('manager') }}" type="button" class="btn btn-lg btn-secondary button">Back</a>
            <button type="submit" class="btn btn-lg btn-primary button">Create</button>
        </div>
    </form>
</div>
{% endblock %}